<div class="top_text">
  <h2>TYPE</h2>
</div>
<div class="header">
  <div *ngFor="let x of listType" class="top_item type-item">
    <a (click)="onSelectType(x)" class="link">{{ x }}</a>
  </div>
</div>
<div class="top_text">
  <h2>LIST</h2>
</div>
<div class="header">
  <a *ngFor="let x of composants" (click)="onSelectItem(x)" class="link">
    <img src="{{ x.image }}" style="width: 32px; padding-right: 6px" />
    {{ x.item }}
  </a>
</div>
<div class="table-css flex-container">
  <table class="table">
    <thead>
      <th>Type</th>
      <th>Item</th>
      <th>Location</th>
    </thead>
    <tbody *ngIf="composantSelected">
      <tr>
        <td>{{ item.type }}</td>
        <td>
          <img src="{{ item.image }}" style="width: 32px; padding-right: 6px" />
          {{ item.item }}
        </td>
        <td>
          <p *ngFor="let loc of item.location">{{ loc }}</p>
        </td>
      </tr>
      <tr>
        <td>Meilleur spot :</td>
        <td rowspan="20"><img src="{{ item.map }}" /></td>
      </tr>
    </tbody>
    <tbody *ngIf="!composantSelected">
      <tr *ngFor="let x of composants">
        <td>{{ x.type }}</td>
        <td>
          <img src="{{ x.image }}" style="width: 32px; padding-right: 6px" />
          {{ x.item }}
        </td>
        <td>
          <p *ngFor="let loc of x.location">{{ loc }}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
